<br>
<head>
  <title>Car Rent </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/src/assets/style/style.css">

  <link rel="stylesheet" href="/src/assets/style/bootstrap.min.css">
  <link rel="stylesheet" href="/src/assets/style/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/src/assets/style/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/src/assets/style/owl.carousel.min.css">
  <link rel="stylesheet" href="/src/assets/style/owl.theme.default.min.css">
  <link rel="stylesheet" href="/src/assets/style/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/src/assets/style/aos.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/src/assets/style/style.css">

</head>



<div class="ftco-blocks-cover-1">
      
        
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="feature-car-rent-box-1">
          <h3>Range Rover S7</h3>
          <ul class="list-unstyled">
            <li>
              <span>Porte</span>
              <span class="spec">4</span>
            </li>
            <li>
              <span>Siège</span>
              <span class="spec">6</span>
            </li>
            <li>
              <span>Lugage</span>
              <span class="spec">2 Suitcase/2 Bags</span>
            </li>
            <li>
              <span>Transmission</span>
              <span class="spec">Automatic</span>
            </li>
            <li>
              <span>Minium age</span>
              <span class="spec">Automatic</span>
            </li>
          </ul>
          <div class="d-flex align-items-center bg-light p-3">
            <span>100 Dt / Jour </span> 
            <a routerLink='/reservation' class="ml-auto btn btn-primary"> louer maintenant </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

<div class="site-section pt-0 pb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
          <form class="trip-form">
            <div class="row align-items-center mb-4">
              <div class="col-md-6">
                <h3 class="m-0">Commencez votre voyage ici</h3>
              </div>
              <div class="col-md-6 text-md-right">
                <span class="text-primary">32</span>  <span>Voitures disponible</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="cf-1">Votre position</label>
                <input type="text" id="cf-1" placeholder="Votre position" class="form-control">
              </div>
              <div class="form-group col-md-3">
                <label for="cf-2">Votre Position de Retoure</label>
                <input type="text" id="cf-2" placeholder="Votre Position de Retoure" class="form-control">
              </div>
              <div class="form-group col-md-3">
                <label for="cf-3">Date de Depare</label>
                <input type="text" id="cf-3" placeholder="Date de Depare" class="form-control datepicker px-3">
              </div>
              <div class="form-group col-md-3">
                <label for="cf-4">Date de Retoure</label>
                <input type="text" id="cf-4" placeholder="Date de Retoure" class="form-control datepicker px-3">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <a routerLink='/reservation' class="ml-auto btn btn-primary"> Submit </a>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<br>



